.card {
  min-width: 250px;
  flex-grow: 1;
  background-color: bisque;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.email {
  font-size: 0.8rem;
}

.right_side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left_side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
